<h1>Inventaire</h1>

<ng-container>
  <div class="product" *ngFor="let product of products | async">
    <div>{{ product | displayInfos : 'header' }}</div>
    <div *ngIf="product | displayInfos : 'exists'">
      <div>{{product | displayInfos : 'data'}}</div>
    </div>

    <button (click)="command(product)">Commander un produit</button>
    <button (click)="cancel(product)">Annuler la commande</button>
    <button class="danger" (click)="claim(product)">Réclamer</button>
  </div>

</ng-container>
